/* DÙNG CHUNG */

.main-section {
  padding: 8rem 0;
}

.section__container {
  padding: 0 1.6rem;
}

.section__heading {
  text-align: center;
}

.section__title {
  font-size: 4.8rem;
  margin-bottom: 6rem;
  font-weight: 700;
}

/* -----------------HEADER------------------ */

.header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.nav__brand a {
  font-size: 3.6rem;
  font-weight: 400;
  color: var(--white-color);
}

.navbar__list {
  display: flex;
}

.navbar__item {
  padding: 0 2rem;
}

.navbar__item-link {
  font-size: 1.6rem;
  color: var(--white-color);
  transition: all 0.3s linear;
}

.navbar__item-link:hover {
  color: var(--primary-color);
}

.navbar__item--more-info i {
  font-size: 1rem;
  margin-left: 0.4rem;
}

.nav__toggle {
  display: none; 
}

.mybtn.mybtn--nav-toggle {
  padding: 1.2rem;
  min-width: 0;
}

.mybtn.mybtn--nav-toggle i {
  font-size: 2.4rem;
}

/* subnav */

.navbar__item--more-info {
  position: relative;
}

.navbar__item--more-info:hover .nav__item-subnav  {
  display: block;
} 

.nav__item-subnav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 20rem;
  padding: 1.2rem 0;
  display: none;
  animation: fadeIn 1s linear ;
}

.nav__item-subnav-list {
  background-color: var(--white-color);
  padding: 1rem;
}

.subnav__item {
  padding: 0.8rem;
  transition: all 0.3s linear;
}

.subnav__item:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.subnav__item:hover .subnav__item-link {
  color: var(--primary-color);
}

.subnav__item-link {
  font-size: 1.6rem;
  color: var(--black-color);
  transition: all 0.3s linear;
}

/* -----------------CAROUSEL------------------ */

.carousel {
  background: url(../images/banner.jpg) center / cover no-repeat;
  height: 100vh;
  position: relative;
}

.carousel .grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

.carousel__info {
  width: 45%;
}

.carousel__info-title {
  font-size: 4.6rem;
  color: var(--white-color);
}

.carousel__info-sub-title {
  font-size: 2rem;
  font-weight: 300;
  color: var(--primary-color);
  text-transform: uppercase;
}

.carousel__info-description {
  font-size: 1.4rem;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.6);
  margin: 2rem 0;
}

/* -----------------EXPLORE------------------ */

.explore__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore__list--1 .explore__item {
  width: calc(100% / 3);
  text-align: center;
  padding: 0 2rem;
}

.explore__item-icon {
  font-size: 3.2rem;
  color: var(--primary-color);
  margin-bottom: 4rem;
}

.explore__item-title {
  font-size: 2rem;
  margin-bottom: 2.8rem;
}

.explore__item-description {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 3rem;
}

.explore__list.explore__list--2 {
  margin-top: 10rem;
  align-items: flex-start;
}

.explore__item-img {
  width: 100%;
  display: block;
}

.explore__list--2 > .explore__item:first-child {
  margin-left: -6rem;
}

.explore__list--2 .explore__item {
  width: 50%;
  padding: 0 6rem;
}

.explore__item-list .explore__item-list-wrap + .explore__item-list-wrap {
  margin-top: 4rem;
}

/* -----------------------Stats-------------------------- */

.stats {
  background-color: var(--blue-color);
  padding: 8rem 0;
}

.stats__list {
  display: flex;
}

.stats__item {
  width: 25%;
  text-align: center;
  padding: 0 1.6rem;
}

.stats__item-icon {
  font-size: 3.6rem;
  color: var(--primary-color);
}

.stats__item-number {
  font-size: 4rem;
  font-weight: 500;
  color: var(--white-color);
  margin: 2rem 0;
}

.stats__item-info {
  font-size: 1.6rem;
  color: var(--white-color);
}

/* -----------------------Tours-------------------------- */

.tour {
  padding: 8rem 0;
}

.tour__list {
  display: flex;
  flex-wrap: wrap;
}

.tour__item {
  width: calc(100% / 3);
  padding: 1.6rem;
}

.tour__item-content {
  transition: all 0.5s linear;
}

.tour__item-content:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.tour__item-img {
  width: 100%;
  display: block;
}

.tour__item-list {
  background-color: var(--blue-color);
  padding: 2.4rem 1.2rem;
}
.tour__item-info {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
  padding-bottom: 2rem;
}

.tour__item-country {
  font-size: 2.4rem;
  color: var(--white-color);
}

.tour__item-location {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin: 1.2rem 0;
  color: rgba(255, 255, 255, 0.6);
}

.tour__item-time {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: space-between;
  padding-right: 14rem;
}

.tour__item-time span i {
  color: var(--white-color);
  margin-right: 0.8rem;
}

.tour__item-time span i:hover {
  color: var(--primary-color);
}

.tour__item-footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.tour__footer-user {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.3s linear;
}

.tour__footer-user i {
  margin-right: 0.8rem;
}

.tour__footer-user:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.tour__footer-time {
  font-size: 1.2rem;
  color: var(--white-color);
}

.tour__footer-time i {
  margin-right: 0.8rem;
}

/* -----------------------Plan-------------------------- */

.plan {
  background-color: #1e272e;
  padding: 8rem 0;
}

.plan__item-content {
  padding: 0 4rem;
}

.plan__list {
  display: flex;
}

.plan__item {
  padding: 1.2rem 0;
  width: 50%;
}

.plan__item-title {
  font-size: 4.4rem;
  color: var(--white-color);
  margin-bottom: 4rem;
}

.plan__item-description {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.4);
  line-height: 3rem;
}

.plan__item-description span {
  margin-top: 1.6rem;
  display: block;
}

.plan__item-img {
  width: 50rem;
  height: 50rem;
  object-fit: cover;
  object-position: left;
}

/* -----------------------feedback-------------------------- */

.feedback {
  padding: 8rem 0;
}

.feedback .section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__detail {
  width: 50%;
}

.feedback__user-comment {
  text-align: left;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 300;
}

.feedback__user-comment i {
  font-size: 4rem;
  color: var(--primary-color);
  margin-right: 1.6rem;
}

.feedback__user {
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

.feedback__user-img {
  margin-right: 8rem;
  border-radius: 50%;
}

.feedback__user-name {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #ff3838;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.feedback__user-job {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
}

/* -----------------------footer-------------------------- */

.footer {
  padding: 8rem 0;
  background-color: #1e272e;
}

.footer__list {
  display: flex;
}

.footer__item {
  width: calc(100%/3);
  padding: 0 1.6rem;
}

.footer__item-title {
  font-size: 2.4rem;
  color: var(--white-color);
  margin-bottom: 2.8rem;
}

.footer__item-description {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.4);
  line-height: 3.8rem;
  letter-spacing: 0.1rem;
}

.footer__item-description a {
  color: rgba(255, 255, 255, 0.4);
}

.footer__form {
  display: flex;
  align-items: center;
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  border-radius: 0.3rem;
  margin-top: 1.2rem;
}

.footer__form-input {
  flex: 1;
  padding: 1.2rem;
  height: 4.4rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.4rem;
}

.mybtn.mybtn--footer-form {
  padding: 1.2rem;
  min-width: 6rem;
}

.mybtn.mybtn--footer-form  i {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.4);
}

/* -----------------------sign-------------------------- */


.sign {
  background-color: #222B32;
  padding: 2.8rem 0;
}

.sign__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign__info p {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 0.1rem;
}

.sign__info p span {
  transition: all 0.3s linear;
}

.sign__info p span:hover {
  color: var(--white-color);
}

.sign__social-link + .sign__social-link {
  margin-left: 2.4rem;
}

.sign__social-link {
  font-size: 1.4rem;
}


.sign__social-link  .fab.fa-facebook-f {
  color: #365084;
}

.sign__social-link  .fab.fa-twitter {
  color: #1E89CC;
}

.sign__social-link .fab.fa-google-plus-g {
  color: #CA3E35;
}

.sign__social-link .fab.fa-dribbble {
  color: #BD4563;
}
